<html py:strip="True" lang="en" xmlns:ng="http://angularjs.org">

 	<py:extends href="menus/header_menu.html"/>
	<py:extends href="menus/footer_menu.html"/>
	<py:extends href="master/master_theme_index.html"/> 
 
<head py:block="head" py:strip="True">
  <title py:block="master_title">Welcome to Poll &amp; Survey</title>
 	<link rel="stylesheet" type="text/css" href="${tg.url('/javascript/bower_components/angular-ui-grid/ui-grid.min.css')}"/>    
 	<link rel="stylesheet" type="text/css" href="${tg.url('/css/listsurvey-page.css')}"/>  
 	<link rel="stylesheet" type="text/css" href="${tg.url('/javascript/bower_components/ui-listView/dist/ui-listView.css')}"/>
	<!-- <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/bower_components/angular-material/angular-material.min.css')}"/>  -->
	<link rel="stylesheet" type="text/css" href="${tg.url('/javascript/bower_components/intl-tel-input/build/css/intlTelInput.css')}"/>
	<link rel="stylesheet" type="text/css" href="${tg.url('/_pluggable/pycontactus/css/style.css')}"/>
</head>

<body py:block="body" py:strip="True" >
	<py:block name="body_menu">${header_menu()}</py:block>
  	<py:block name="body_footer">${footer_menu()}</py:block>
  	<div >
  	<div class="content">
  	
	  	<div ng-app="Contactus" ng-controller="ContactusData" ng-init="init('${tg.url('/contactus/addContactUs')}')">
	  	<div ui-i18n="{{lang}}">
	  	
	  	<form class="" name="contactForm" ng-submit="saveContactUs(contactForm)" ng-validate="validationOptions"> 
					
			<div class="content" > 		
			<div class="panel" >
				<div class="panel-heading text-indent-title">
		        	<div class="row">
						<span lang="oth">contact_us</span>
					</div>
				</div>
			</div>
			
			<div class=" ${('vis-hidden', 'form-group')[self.defined('reporter') and reporter == '']} ">
				<div class="row">
					<label class="control-label col-md-3"><span lang="oth">name</span>
						<button id="show_help_name" type="button" class="btn btn-default btn-xs">
				      		<span class="glyphicon glyphicon-question-sign text-primary"></span>
				    	</button>
					</label>
					<div class="col-md-9">
						<input  class="form-control" type="text" ng-model="formData.reporter" name="reporter" placeholder="from_name"  value="${reporter}"  lang="oth"  /> 
						
					</div>
				</div>
			</div>	
				
			<div class=" ${('vis-hidden', 'form-group')[self.defined('email_address') and email_address == '']}">
				<div class="row">
					<label class="control-label col-md-3"><span lang="oth">email</span>
						<button id="show_help_email" type="button" class="btn btn-default btn-xs">
				      		<span class="glyphicon glyphicon-question-sign text-primary"></span>
				    	</button>
					</label>
					<div class="col-md-9">
						<input  class="form-control" type="email" ng-model="formData.email" name="email"  placeholder="email"  value="${email_address}"  lang="oth"  />  
					</div>
				</div>
			</div>	
				<div class="form-group" >
				<div class="row">
					<label class="control-label col-md-3"><span lang="oth">telephone_number</span>
						<button id="show_help_telephone_number" type="button" class="btn btn-default btn-xs">
				      		<span class="glyphicon glyphicon-question-sign text-primary"></span>
				    	</button>
					</label>
					<div class="col-md-9" ng-class="">
					    <input type="text" class="form-control" id="telephone" name="telephone" ng-model="formData.telephone" ng-intl-tel-input="ng-intl-tel-input"  data-initial-country="th" />
						
					</div>				
				</div>
			</div>	
		
			<div class="form-group">
				<div class="row">
					<label class="control-label col-md-3"><span lang="oth">reason</span>
						<button id="show_help_reason" type="button" class="btn btn-default btn-xs">
				      		<span class="glyphicon glyphicon-question-sign text-primary"></span>
				    	</button>
					</label>
					<div class="col-md-9">
					<select name="id_detail_report_type" ng-model="formData.id_detail_report_type" id="id_detail_report_type"  class="form-control" >
						<option value =""> -- {{"token.please_select" | translate}} -- </option>
						<py:for each="rep in reporttype">
							<option  value="${rep.id_detail_report_type}"  lang="oth"> ${rep.description} </option>	
						</py:for> 
						 
					</select>
					</div>
				</div>											
			</div>
						
			<div class="form-group">
				<div class="row">
					<label class="control-label col-md-3"><span lang="oth">message</span>
						<button id="show_help_message" type="button" class="btn btn-default btn-xs">
				      		<span class="glyphicon glyphicon-question-sign text-primary"></span>
				    	</button>
					</label>
					<div class="col-md-9">
					   <textarea name="message" ng-model="formData.message" placeholder="message" class="form-control" lang="oth" />
					</div>
				</div>											
			</div>
			
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
			    	</div>
			    	<div class="col-md-9">
			    		<label class="control-label"><span lang="oth">note_contact_us</span></label>        			
			      	</div>
			    </div>											
			</div>
			
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
			    	</div>
			    	<div class="col-md-9">
			    		<button type="submit" id="contactus-submit-btn" class="btn btn-primary pull-right">
						 	<span class="glyphicon glyphicon-floppy-saved" ></span> <span lang="oth">save</span>
						</button>            			
			      	</div>
			    </div>											
			</div>
			</div>
		</form>
		</div>
		</div>
	</div>
	</div>
	
	<py:block name="javascript_footer">
	
		<script src="${tg.url('/javascript/bower_components/angular/angular.min.js')}" type="text/javascript"></script> 
	
		<script src="${tg.url('/javascript/bower_components/angular-animate/angular-animate.min.js')}" type="text/javascript"></script>
	  	<script src="${tg.url('/javascript/bower_components/angular-aria/angular-aria.min.js')}" type="text/javascript"></script>
	  	<script src="${tg.url('/javascript/bower_components/angular-messages/angular-messages.min.js')}" type="text/javascript"></script>
		
		<script src="${tg.url('/javascript/bower_components/angular-touch/angular-touch.min.js')}" type="text/javascript"></script>
		<script src="${tg.url('/javascript/bower_components/angular-route/angular-route.min.js')}" type="text/javascript"></script>
		
		<script src="${tg.url('/javascript/bower_components/angular-cookies/angular-cookies.min.js')}" type="text/javascript"></script>
		
	 	
		<script src="${tg.url('/javascript/bower_components/angular-translate/angular-translate.min.js')}" type="text/javascript"></script>
		<script src="${tg.url('/javascript/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js')}" type="text/javascript"></script>
		<script src="${tg.url('/javascript/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js')}" type="text/javascript"></script>
		
		<script src="${tg.url('/javascript/bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js')}" type="text/javascript"></script>
		<script src="${tg.url('/javascript/bower_components/jpkleemans-angular-validate/dist/angular-validate.min.js')}" type="text/javascript"></script>
	
		<script src="${tg.url('/javascript/bower_components/jquery-validation/dist/jquery.validate.min.js')}" type="text/javascript"></script>
		
		<script src="${tg.url('/javascript/bower_components/intl-tel-input/build/js/utils.js')}" type="text/javascript"></script>
		<script src="${tg.url('/javascript/bower_components/intl-tel-input/build/js/intlTelInput.js')}" type="text/javascript"></script>
		
		<script src="${tg.url('/javascript/bower_components/ng-intl-tel-input/ng-intl-tel-input.module.js')}" type="text/javascript"></script>
		<script src="${tg.url('/javascript/bower_components/ng-intl-tel-input/ng-intl-tel-input.provider.js')}" type="text/javascript"></script>
		<script src="${tg.url('/javascript/bower_components/ng-intl-tel-input/ng-intl-tel-input.directive.js')}" type="text/javascript"></script>
	
	
		<script src="${tg.url('/_pluggable/pycontactus/javascript/pages/contactus/contact-index.js')}"></script>
	</py:block>
</body>
<!-- END BODY -->
</html>